@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.stickynav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: 200ms ease-in-out;
  background: transparent;
  visibility: hidden;
}

.changecolour {
  visibility: visible;
  background-color: white;
  color: black;
}
